<%- include('../includes/head.ejs') %>
<body>
    
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/login.css" />
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/logo/logo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action="/login" method="POST">
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/forgot-password">Forgot Password?</a><br>
        <a class="underlineHover" href='/sign-up'>Sign up</a>
      </div>
  
    </div>
  </div>
  <% if (errConfirm) { %>
    <span class="alert alert-success" role="alert"><%= errConfirm %></span>
<% } %>

<% if (existUserMsg) { %>
    <span class="alert alert-success" role="alert"><%= existUserMsg %></span>
<% } %>

<% if (chngErr) { %>
  <% for(let e of chngErr){ %>
      <span class="alert alert-success" role="alert"><%= e.msg %></span>
<% } %>
  <% } %>

  <%- include('../includes/footer.ejs') %>  