<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/navigation.ejs') %>
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="row">
                <a  style="margin-left:3em;" href="/savePrd" class="btn btn-warning">Add Product</a>
            </div>
            <br><br>
            <div class="container">
                <div class="row">
                    <% for(let products of productsList){ %>
                   <div class="col-md-3">
                        <div class="panel panel-info">
                             <div class="flex-container">
                           <div class="panel-body"> <img src="<%=products.image%>" class="img-responsive" width="130px" height="130px"  alt="image not found"></div>
                           <div class="panel-body">
                           <h1 style="font-size: medium;opacity: initial;">Name: <%=products.name%></h1>
                            <h1 style="font-size:medium;">Price: <%=products.price%> <span>&#36</span></h1>
                            
                            <form method="POST" action="/delete-product/">
                                <input type="hidden" name="id" value="<%=products._id%>">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <br>
                            <a style="margin-right: 1em;" href="/Edit-product/<%=products._id%>" class="btn btn-info">Edit</a>
                            <a href="/details/<%=products._id%>" class="btn btn-warning">View Details</a>

                        </div>
                        </div>
                    </div>
                </div>
                    <% }%>

                </div>

            </div>

        </div>

    </div>


    <%- include('../includes/footer')%>
