<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>
    
               
                <!-- <a href="/check-out/<%=cartId%>" class="btn btn-primary">Check-Out </a>   -->
               
            <div class="container">   
            <a href="/payment/<%=totalPrice%>/<%=cartId%>" class="btn btn-primary">Check-Out </a>
            <a style="margin-left:110em;" href="/customer-prds" class="btn btn-secondary">Previous page</a>
                <div class="row">
                    <% let count=0; for(let products of productsList){ %>
                <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="flex-container">

                            <div class="panel-body"><img src="<%=products.image%>" class="img-responsive" width="130px" height="130px" alt="Image"></div>
                            </div> <div class="panel-body">
                            <h1 style="font-size: medium;"> <%=products.name%></h1>
                            <h1 style="font-size: medium;">Price: <span>&#36</span> <%=products.price%> </h1>
                            <div style="font-size: medium;" class="price">Quantity : <%=qty[count++]%></div>
                            <a href="/delete-cart/<%=products._id%>" class="btn btn-secondary">remove </a>
                        </div>
                    </div>
                    </div>
                    <% }%>
                </div>
                 <div style="margin-left:89em;" class="btn btn-secondary btn-lg">SubTotal</div>
                 <h1 style="margin-left:45em;"><%=totalPrice%>$</h1>
            </div>
    <%- include('../includes/footer')%>
