<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <a href="/list-of-cart" class="btn btn-info">All Carts</a>
                <div class="row">
                    <% for(let products of productsList){ %>
                    <div class="col-md-2">
                        <div class="product-box">
                            <img src="<%=products.image%>" class="img-responsive" alt="image not found">
                            <h1>Name: <%=products.name%></h1>
                            <h1>Price: <%=products.price%> <span>&#36</span></h1>
                            <div class="price"> Catagory:<%=products.category%> </div>
                            <div class="price">Description:<%=products.description%></div>
                    
                            <a href="/details/<%=products._id%>" class="btn btn-warning">View Details </a>
                            <form method="POST" action="/add-to-product">
                                <input type="hidden" name="id" value="<%=products.id%>"><br>
                                <div>
                                 <label >Quantity</label>
                              <select id="" name="quantity">
                                  <% for( let i=1;i<10;i++){ %> 
                             <option value="<%=i%>"><%=i%> </option>
                                  <% } %> 
                                </select>
                                </div><br>
                                <button class="btn btn-info">add to Cart </button>
                            </form>
                        </div>
                    </div>

                    <% }%>

                </div>

            </div>

        </div>

    </div>


    <%- include('../includes/footer')%>
</body>

</html>