<%- include('../includes/head.ejs') %>
<body>

   

    <%- include('../includes/navigation.ejs') %>
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
               
   
            <div class="container">
                <div class="row">
                    <% for(let products of productsList){ %>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="flex-container">

                            
                         <div class="panel-body"><img src="<%=products.image%>" width="130px" height="130px" alt="Image"></div>
                           
                            </div> <div class="panel-body">
                                 <h4 class="price"> <%=products.name%></h4>
                            <h4 class="price">Price: <%=products.price%> <span>&#36</span></h4>
                   
                            <a style="font-size: medium;" href="/details/<%=products._id%>" class="">View Details </a>
                            <form method="POST" action="/add-to-product">
                                <input type="hidden" name="id" value="<%=products.id%>"><br>
                                <div>
                                 <label >Quantity</label>
                              <select id="" name="quantity">
                                  <% for( let i=1;i<10;i++){ %> 
                             <option value="<%=i%>"><%=i%> </option>
                                  <% } %> 
                                </select>
                                </div><br>
                                <button class="btn btn-info">add to Cart </button>
                            </form>
                            </div>
                        </div>
                    </div>

                    <% }%>

                </div>

            </div>
    <%- include('../includes/footer')%>
</body>

</html>