<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/navigation.ejs') %>

    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <h1>Edit Product</h1>
                <!-- below is add form ====>  start   -->

                <form action="/post-prod" method="POST">
                    <div class="row">
                        <input type="hidden" name="id" class="form-control" id="inputEmail4" value="<%=product._id%>"
                            readonly>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Product Name</label>
                            <input type="text" name="name" class="form-control" id="inputPassword4"
                                value="<%=product.name%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Product Category</label>
                            <input type="text" name="category" class="form-control" id="category"
                                value="<%=product.category%>">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                            <label for="inputAddress2">Image</label>
                            <input type="text" name="image" class="form-control" id="image" value="<%=product.image%>">
                        </div> -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Product Price</label>
                            <input type="text" name="price" class="form-control" id="inputCity"
                                value="<%=product.price%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlTextarea4">Description</label>
                            <textarea placeholder="Enter product description here" id="description" name="description"
                                class="form-control" rows="3"><%=product.description%></textarea>
                        </div>
                    </div>
                    <button style="padding:10px 24px" type="submit" class="btn btn-warning">Submit</button>
                </form>
    </div>

<%- include('../includes/footer.ejs') %>
